# Lab 10 - Types of EDA - Benjamin Bui-Dang

## Types of EDA:
1. **Univariate EDA**: We examine one feature (column, variable) in a univariate EDA.
2. **Bivariate EDA**: We examine two features (columns, variables) in a bivariate EDA.
3. **Multivariate**: We examine more than two features (columns, variables) in a mulitvariate EDA.

## Step 1: Project Introduction
1. Context (Background): This project will be examine the house-price in Melbourne.
2. Objectives: why do we do this project?
   - Practicing types of EDA,
   - Examining the target variable (price feature: dependent, numeric, continuous)
3. Data Description: (the meanning of each column's name)
   - housing.csv
- Suburb: name of the each section
- Address: address of each house
- Rooms: number of rooms in each house

## Step 2: Importing Libraries

In [1]:
import numpy as np
import pandas as pd


import matplotlib.pyplot as plt
import seaborn as sns


import warnings
warnings.filterwarnings('ignore')

## Step 3: Loading (Reading) Dataset

In [2]:
df = pd.read_csv('housing.csv')

In [3]:
# let's make a copy of the dataset
housing = df.copy()

## Step 4: EDA

### Basic Data Exploration

In [4]:
housing.head()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
0,Abbotsford,68 Studley St,2,h,SS,Jellis,3/9/2016,2.5,3067.0,2.0,...,126.0,inf,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0,Carport,NaN
1,Airport West,154 Halsey Rd,3,t,PI,Nelson,3/9/2016,13.5,3042.0,3.0,...,303.0,225,2016.0,Moonee Valley City Council,-37.7180,144.8780,Western Metropolitan,3464.0,Detached Garage,840000.0
2,Albert Park,105 Kerferd Rd,2,h,S,hockingstuart,3/9/2016,3.3,3206.0,2.0,...,120.0,82,1900.0,Port Phillip City Council,-37.8459,144.9555,Southern Metropolitan,3280.0,Attached Garage,1275000.0
3,Albert Park,85 Richardson St,2,h,S,Thomson,3/9/2016,3.3,3206.0,2.0,...,159.0,inf,NaN,Port Phillip City Council,-37.8450,144.9538,Southern Metropolitan,3280.0,Indoor,1455000.0
4,Alphington,30 Austin St,3,h,SN,McGrath,3/9/2016,6.4,3078.0,3.0,...,174.0,122,2003.0,Darebin City Council,-37.7818,145.0198,Northern Metropolitan,2211.0,Parkade,NaN

In [5]:
housing.tail()

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
34852,Reservoir,18 Elinda Pl,3,u,SP,RW,30/09/2017,12.0,3073.0,3.0,...,NaN,105.0,1990.0,Darebin City Council,-37.69769,145.02332,Northern Metropolitan,21650.0,Parkade,475000.0
34853,Roxburgh Park,14 Stainsby Cr,4,h,S,Raine,30/09/2017,20.6,3064.0,4.0,...,NaN,225.0,1995.0,Hume City Council,-37.63665,144.92976,Northern Metropolitan,5833.0,Underground,591000.0
34854,Springvale South,8 Bellbird Ct,4,h,PI,Barry,30/09/2017,22.2,3172.0,4.0,...,534.0,152.0,1970.0,Greater Dandenong City Council,-37.97037,145.15449,South-Eastern Metropolitan,4054.0,Carport,NaN
34855,Springvale South,30 Waddington Cr,3,h,S,Harcourts,30/09/2017,22.2,3172.0,3.0,...,544.0,NaN,NaN,Greater Dandenong City Council,-37.97751,145.14813,South-Eastern Metropolitan,4054.0,Detached Garage,780500.0
34856,Westmeadows,42 Pascoe St,4,h,S,Barry,30/09/2017,16.5,3049.0,4.0,...,813.0,140.0,1960.0,Hume City Council,-37.67631,144.89409,Northern Metropolitan,2474.0,Attached Garage,791000.0

**Observations:**
1. There are some missing values.
2. There are 22 columns.
3. There are 34857 entries. 
4. Looks as though sorted alphabetically by suburb name.

In [6]:
housing.shape

(34857, 22)

In [7]:
housing.size

766854

In [8]:
housing.ndim

2

**Observations:**
1. There are a total of 766854 values in the dataset.
2. The dimensionality is two dimensions.
3. There are 34857 entries.
4. There are 22 columns.

In [9]:
housing.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Latitude', 'Longtitude',
       'Regionname', 'Propertycount', 'ParkingArea', 'Price'],
      dtype='object')

In [10]:
housing.dtypes

Suburb            object
Address           object
Rooms              int64
Type              object
Method            object
SellerG           object
Date              object
Distance         float64
Postcode         float64
Bedroom          float64
Bathroom         float64
Car              float64
Landsize         float64
BuildingArea      object
YearBuilt        float64
CouncilArea       object
Latitude         float64
Longtitude       float64
Regionname        object
Propertycount    float64
ParkingArea       object
Price            float64
dtype: object

**Observations:**
1. The columns have a mix of data types and therefore the data type is summarized as an object. 
2. There are 11 columns that are floats for data type.
3. There is only one data type that is integer.
4. There are ten columns that are objects for data type.

In [11]:
# let's get the dataset information
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Method         34857 non-null  object
 5   SellerG        34857 non-null  object
 6   Date           34857 non-null  object
 7   Distance       34856 non-null  float64
 8   Postcode       34856 non-null  float64
 9   Bedroom        26640 non-null  float64
 10  Bathroom       26631 non-null  float64
 11  Car            26129 non-null  float64
 12  Landsize       23047 non-null  float64
 13  BuildingArea   13760 non-null  object
 14  YearBuilt      15551 non-null  float64
 15  CouncilArea    34854 non-null  object
 16  Latitude       26881 non-null  float64
 17  Longtitude     26881 non-null  float64
 18  Regionname     34857 non-null  object
 19  Propertycount  34854 non-null  float64
 20  ParkingArea    34857 non-null  object
 21  Price          27247 non-null  float64
dtypes: float64(11), int64(1), object(10)
memory usage: 5.9+ MB

**Observations:**
1. There are 34857 entries.
2. There are 22 columns. 
3. There are 13 columns that have missing values. 
4. There are 9 columns that have no missing values. 
5. The column with the most missing values is Building Area.
6. The columns with the least missing values that has missing values are distance and postcode.
7. There are 11 floats, one integer, and 10 objects as datatypes for these columns.

In [12]:
# let's get the statistical summary
housing.describe().T

,count,mean,std,min,25%,50%,75%,max
Rooms,34857.0,3.031012e+00,0.969933,1.00000,2.00000,3.0000,4.000000e+00,1.600000e+01
Distance,34856.0,1.118493e+01,6.788892,0.00000,6.40000,10.3000,1.400000e+01,4.810000e+01
Postcode,34856.0,3.116063e+03,109.023903,3000.00000,3051.00000,3103.0000,3.156000e+03,3.978000e+03
Bedroom,26640.0,3.084647e+00,0.980690,0.00000,2.00000,3.0000,4.000000e+00,3.000000e+01
Bathroom,26631.0,1.624798e+00,0.724212,0.00000,1.00000,2.0000,2.000000e+00,1.200000e+01
Car,26129.0,1.728845e+00,1.010771,0.00000,1.00000,2.0000,2.000000e+00,2.600000e+01
Landsize,23047.0,5.935990e+02,3398.841946,0.00000,224.00000,521.0000,6.700000e+02,4.330140e+05
YearBuilt,15551.0,1.965290e+03,37.328178,1196.00000,1940.00000,1970.0000,2.000000e+03,2.106000e+03
Latitude,26881.0,-3.781063e+01,0.090279,-38.19043,-37.86295,-37.8076,-3.775410e+01,-3.739020e+01
Longtitude,26881.0,1.450019e+02,0.120169,144.42379,144.93350,145.0078,1.450719e+02,1.455264e+02
Propertycount,34854.0,7.572888e+03,4428.090313,83.00000,4385.00000,6763.0000,1.041200e+04,2.165000e+04
Price,27247.0,1.050173e+06,641467.130105,85000.00000,635000.00000,870000.0000,1.295000e+06,1.120000e+07

**Observations:**
1. Distance has the highest maximum value.
2. Latitude has the lowest maximum value
3. Price has the highest minimum value. 
4. Only rooms held all 34857 entries while the others have some missing values.
5. YearBuilt has the lowest count with only 15551.

In [13]:
# let's get the summary of the object features
housing.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,BuildingArea,CouncilArea,Regionname,ParkingArea
count,34857,34857,34857,34857,34857,34857,13760,34854,34857,34857
unique,351,34009,3,9,388,78,994,33,8,8
top,Reservoir,5 Charles St,h,S,Jellis,28/10/2017,120,Boroondara City Council,Southern Metropolitan,Carport
freq,844,6,23980,19744,3359,1119,177,3675,11836,6243

**Observations:**
1. Type column has the highest frequency with 23980. 
2. Address had the lowest frequency with only 6. 
3. There are eight object columns with no missing any values. 
4. There are two object columns with missing values.

In [14]:
# let's see the missing values
housing.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom           8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21097
YearBuilt        19306
CouncilArea          3
Latitude          7976
Longtitude        7976
Regionname           0
Propertycount        3
ParkingArea          0
Price             7610
dtype: int64

In [15]:
# let's see if there are duplicated rows
housing[housing.duplicated()].count()

Suburb           0
Address          0
Rooms            0
Type             0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom          0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Latitude         0
Longtitude       0
Regionname       0
Propertycount    0
ParkingArea      0
Price            0
dtype: int64

**Observations:**
1. There are no duplicated rows or entries.
2. There are 13 columns with missing values
3. Building area has the most missing values.
4. Distance and postcode have the least missing values that have missing values.

In [16]:
# let's see how to drop any duplicated rows
housing.drop_duplicates(inplace=True, ignore_index=True)

In [17]:
housing.sort_values('Distance', ascending=True)

,Suburb,Address,Rooms,Type,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Regionname,Propertycount,ParkingArea,Price
7932,Melbourne,61/299 Queen St,2,u,SP,Melbourne,8/7/2017,0.0,3000.0,2.0,...,0.0,NaN,NaN,Melbourne City Council,-37.81141,144.95879,Northern Metropolitan,17496.0,Carport,1075000.0
25501,Melbourne,17/458 St Kilda Rd,2,u,S,Harrington,23/09/2017,0.0,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Attached Garage,740000.0
25502,Melbourne,43/461 St Kilda Rd,3,u,S,Kay,23/09/2017,0.0,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Indoor,NaN
34377,Melbourne,113/55 Queens Rd,3,u,VB,Gary,29/07/2017,0.0,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Outdoor Stall,750000.0
34376,Melbourne,709/87 Franklin St,2,u,S,MICM,29/07/2017,0.0,3000.0,2.0,...,89.0,85.0,2003.0,Melbourne City Council,-37.80802,144.96168,Northern Metropolitan,17496.0,Underground,565000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25559,New Gisborne,161 Station Rd,4,h,SP,Raine,23/09/2017,48.1,3438.0,4.0,...,710.0,153,2009.0,Macedon Ranges Shire Council,-37.46955,144.59409,Northern Victoria,849.0,Detached Garage,NaN
25558,New Gisborne,71 Hamilton Rd,5,h,S,Raine,23/09/2017,48.1,3438.0,5.0,...,44500.0,44515,NaN,Macedon Ranges Shire Council,-37.45392,144.58864,Northern Victoria,849.0,Carport,1355000.0
5616,New Gisborne,28 Dalray Cr,4,h,S,Raine,3/9/2017,48.1,3438.0,4.0,...,NaN,175,2002.0,Macedon Ranges Shire Council,-37.46659,144.60241,Northern Victoria,849.0,Carport,690000.0
21221,New Gisborne,181 Station Rd,4,h,SP,Raine,18/11/2017,48.1,3438.0,NaN,...,NaN,NaN,NaN,Macedon Ranges Shire Council,NaN,NaN,Northern Victoria,849.0,Indoor,717500.0
12355,Fawkner Lot,1/3 Brian St,3,h,SP,Brad,6/1/2018,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,NaN,Detached Garage,616000.0

**Observations:**
1. There are 34857 rows.
2. There are 22 columns. 
3. The first five rows have the same property count.
4. The last five rows have the same property count except for the last one which has a missing value.

In [18]:
housing.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'SellerG', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Latitude', 'Longtitude',
       'Regionname', 'Propertycount', 'ParkingArea', 'Price'],
      dtype='object')

In [19]:
# renaming some columns
housing = housing.rename(columns={'SellerG':'Seller_agent',
                                  'Regionname':'Region_name',
                                 'Propertycount':'Property_count'})

In [20]:
housing.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Method', 'Seller_agent', 'Date',
       'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize',
       'BuildingArea', 'YearBuilt', 'CouncilArea', 'Latitude', 'Longtitude',
       'Region_name', 'Property_count', 'ParkingArea', 'Price'],
      dtype='object')

In [21]:
housing['Suburb'].value_counts()

Reservoir         844
Bentleigh East    583
Richmond          552
Glen Iris         491
Preston           485
                 ...
Avonsleigh          1
Wandin North        1
Ferny Creek         1
Guys Hill           1
viewbank            1
Name: Suburb, Length: 351, dtype: int64

**Observations:**
1. The suburb with the most values is reservoir. 
2. The last five have all but one value indicating multiple suburbs like so. 
3. There are 351 subrubs in our data set.
4. All are integer based data types.

In [22]:
housing.query('Suburb == "Melbourne"')

,Suburb,Address,Rooms,Type,Method,Seller_agent,Date,Distance,Postcode,Bedroom,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Latitude,Longtitude,Region_name,Property_count,ParkingArea,Price
193,Melbourne,19/562 Little Bourke St,1,u,PI,Harcourts,3/9/2016,2.8,3000.0,1.0,...,0.0,53,1900.0,Melbourne City Council,-37.8152,144.9557,Northern Metropolitan,17496.0,Carport,NaN
194,Melbourne,605/55 Queens Rd,1,u,PI,RT,3/9/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Detached Garage,400000.0
593,Melbourne,318/9 Commercial Rd,1,u,S,hockingstuart,3/12/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Attached Garage,365000.0
594,Melbourne,902/16 Liverpool St,1,u,S,Harcourts,3/12/2016,2.8,3000.0,1.0,...,0.0,NaN,NaN,Melbourne City Council,-37.8111,144.9715,Northern Metropolitan,17496.0,Indoor,427000.0
595,Melbourne,173/350 St Kilda Rd,2,u,VB,Marshall,3/12/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Carport,1200000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34690,Melbourne,509/33 MacKenzie St,2,u,PI,Dingle,30/07/2016,2.8,3000.0,2.0,...,1751.0,NaN,2012.0,Melbourne City Council,-37.8077,144.9668,Northern Metropolitan,17496.0,Detached Garage,390000.0
34691,Melbourne,901/469 St Kilda Rd,3,u,SN,Rodney,30/07/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Attached Garage,NaN
34692,Melbourne,18/539 St Kilda Rd,1,u,SP,Greg,30/07/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Indoor,510000.0
34693,Melbourne,1007/594 St Kilda Rd,2,u,S,Gary,30/07/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Parkade,607000.0
34694,Melbourne,96/632 St Kilda Rd,3,u,SP,hockingstuart,30/07/2016,2.8,3000.0,NaN,...,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,17496.0,Carport,705000.0

**Observations:**
1. There are 204 suburbs under the suburb name of Melbourne.
2. There are 22 columns.
3. The first five rows have the same property count. 
4. The last five rows have the same property count. 
5. The last five and the first five rows have the same council area as well.

## Summary of EDA
- Please list 15 insights from the procesing of housing dataset so far.
1. There are 34857 rows.
2. There are 22 columns.
3. There are a total of 766854 values in the dataset.
4. The dimensionality is two dimensions.
5. There are 13 columns that have missing values.
6. There are 9 columns that have no missing values.
7. The column with the most missing values is Building Area.
8. The columns with the least missing values that has missing values are distance and postcode.
9. There are 11 float data types for the columns.
10. There are 10 Object data types for the columns.
11. There is one Integer data type for the columns.
12. There are 204 suburbs under the suburb name of Melbourne. 
13. There are 351 suburbs listed in the data set. 
14. The suburb with the most values is reservoir. 
15. There are at least five suburbs that have only one value.

### End of Lab 10